.App {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  /* align-content: center; */
}

.FactInputs {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}